<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>FILTERS</h1>
        <h2>{{data}}</h2>
        <h2>{{ data|lower }}</h2>
        <h2>{{ data|upper }}</h2>
        <h2>{{ data|title}}</h2>
        <h2>{{ data|capfirst }}</h2>
        <h2>{{ data|truncatechars:'3' }}</h2>
        <h2>{{ data|truncatewords:'4' }}</h2>
        <h2>{{ data|length }}</h2>
        <h2>{{ data|slice:'8' }}</h2>

        <h1>{{dt}}</h1>
        <h2>{{dt|date:'Y'}}</h2>
        <h2>{{dt|date:'D'}}</h2>
        <h2>{{dt|date:'M'}}</h2>
        <h2>{{dt|date:'Y D M'}}</h2>

        <h1>I HAVE {{c}} cat{{c|pluralize}}</h1>
    </center>
</body>
</html>